body {
    background-image: url(BackgroundImage.png);
    background-size: cover;
}

img {
    max-width: 80%;
    align-self: center;
}

#title {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin: 5%;
    padding: auto;
    font-size: 300%;
}

.cartImage {
    width: 180px;
    height: auto;
}

.btn {
    margin-bottom: 15%;
}
